body{
    margin: 0 30px;
    font-family: "Montserrat";
    background-color: dimgrey;
}
.input-group{
    margin-bottom: 30px;
}

/* Navigation Bar */
.navbar {
    padding: 0 0 1rem;
  }
  
  .navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.3rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
  }



#meals-display{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
#meals-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.meal-item{
    background-color: lavender;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    margin: 10px;
}

.details-img{
    object-fit: cover;
    height: 350px;
}

.fas{
    color: chocolate;
}

.in-details{
    width: 600px;
    margin-left: 28%;
}